<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="6.3.1" targetFramework="xamarinios10" />
  <package id="akavache.core" version="6.3.1" targetFramework="xamarinios10" />
  <package id="akavache.sqlite3" version="6.3.1" targetFramework="xamarinios10" />
  <package id="Bogus" version="25.0.4" targetFramework="xamarinios10" />
  <package id="Fabulous.Core" version="0.30.0" targetFramework="xamarinios10" />
  <package id="Fabulous.CustomControls" version="0.30.0" targetFramework="xamarinios10" />
  <package id="Fabulous.LiveUpdate" version="0.30.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="4.6.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Splat" version="6.1.7" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.ios_unified.static" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.internal.ios_unified" version="1.1.13" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.1.2" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.4.0.1029999" targetFramework="xamarinios10" />
</packages>